# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Dev template files (not part of library)
index.html
src/main.tsx
src/App.tsx
src/App.css
src/index.css
src/assets/
public/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook-static

.direnv
.envrc
.devenv*
devenv.local.nix
.devcontainer.json
.pre-commit-config.yaml
TODO*
coverage/
