[**React Select Filter Box v0.0.0**](../README.md)

***

[React Select Filter Box](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types/Expression.ts:196](https://github.com/jyukopla/react-select-filter-box/blob/732c0bb5d34ae2c255c8387f5b4df9b4c06e4e67/src/types/Expression.ts#L196)

Validation result

## Properties

### errors?

> `optional` **errors**: `ValidationError`[]

Defined in: [types/Expression.ts:200](https://github.com/jyukopla/react-select-filter-box/blob/732c0bb5d34ae2c255c8387f5b4df9b4c06e4e67/src/types/Expression.ts#L200)

Validation errors

***

### valid

> **valid**: `boolean`

Defined in: [types/Expression.ts:198](https://github.com/jyukopla/react-select-filter-box/blob/732c0bb5d34ae2c255c8387f5b4df9b4c06e4e67/src/types/Expression.ts#L198)

Whether validation passed

***

### warnings?

> `optional` **warnings**: `ValidationWarning`[]

Defined in: [types/Expression.ts:202](https://github.com/jyukopla/react-select-filter-box/blob/732c0bb5d34ae2c255c8387f5b4df9b4c06e4e67/src/types/Expression.ts#L202)

Validation warnings
